<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>E-mprender</title> -->
    
    <%- include('./partials/title') %>


    
    <!-- ESTILOS BOOSTRAP -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- ESTILOS PERSONALES -->

    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/navbar.css' />

    <link rel='stylesheet' href='/stylesheets/adminEditProducto.css' />

</head>
<body>
    

    <!-- INICIO BARRA DE NAVEGACIÓN -->

    <%- include('./partials/navbar') %>

    <!-- FIN BARRA DE NAVEGACIÓN -->


    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
        <li class="breadcrumb-item"><a href="/admin/servicios">Servicios</a></li>
        <li class="breadcrumb-item active" aria-current="page">Creación Característica</li>
      </ol>
    </nav>

    
    <div class="external-container-section">

      <div class="internal-container-section">

        <form action="/admin/servicios/<%= servicio %>/caracteristicas" method="POST"  enctype="multipart/form-data" class="container-form">
          
          <label for="titulocaracteristica">Título Característica</label>
          
          <input type="text"  class="form-control" name="titulocaracteristica">
          <br>
          <label for="detallecaracteristica">Detalle Característica</label>
          <textarea class="form-control"  rows="3" name="detallecaracteristica"></textarea>
          <br>

          <div class="form-group">
            <label for="cambiarImagen">Sumar Imagen de la Característica</label>
            <input type="file" class="form-control-file" id="cambiarImagen" name="imagenNuevaCaracteristica">
            <small id="emailHelp" class="form-text text-muted">Recomendaciones: </small>
            <small id="emailHelp" class="form-text text-muted">- Todas las imágenes deberán presentar el mismo tamaño, para preservar las proporciones y estética de la página. </small>
            <small id="emailHelp" class="form-text text-muted">- Tamaños recomendados Ancho x Alto </small>
            <small id="emailHelp" class="form-text text-muted">- Resolución de la imagen. </small>
            <small id="emailHelp" class="form-text text-muted">- Tamaño máximo de la imagen. </small>
          </div>
          <button class="btn btn-primary">Crear Característica</button>
          <br>
      </form>

      </div>

    </div>



</body>


  <!-- ESTILOS BOOSTRAP -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  <!-- iconos gratuitos -->
  <script src="https://kit.fontawesome.com/a0c0bb4f74.js" crossorigin="anonymous"></script>

</html>