
    <div class="external-container-section">

        <div class="internal-container-section">
          <div class="external-container-datos-contacto">
            <div class="internal-container-datos-contacto">
              <p><%= resultados[3].value %></p>
              <p>Teléfono de Contacto:</p>
              <p><%= resultados[4].value %></p>
              <p>Correo electrónico:</p>
              <p><%= resultados[5].value %></p>
            </div>
  
            <div class="internal-container-datos-contacto">
              <iframe class="iframe-mapa" src="https://maps.google.com/?ll=<%= resultados[6].value %>&z=14&t=m&z=20&output=embed" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
  
          </div>
        </div>
  
      </div>