.linksNavInferior{
    color: blue;
}

.linksNavInferior:link, .linksNavInferior:visited, .linksNavInferior:active {
    color: blue;
    text-decoration:none;
}

#container-muestra-color-barra-navegacion{
    border: 1px solid grey;
    width: 100px;
    height: 100px;

}


#container-muestra-color-body{
    border: 1px solid grey;
    width: 100px;
    height: 100px;
}


#container-muestra-color-Footer{
    border: 1px solid grey;
    width: 100px;
    height: 100px;
}

.external-container-section{
    width: 100%;

}

.internal-container-section{
    width: 90%;

}
