.contenedorTituloCategoria{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.contenedorExternoLadoIzqDer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-items:flex-start;
    align-content: center;

}


.contenedorLadoIzquierdo{
    width: 10%;

}

.contenedorLadoDerecho{
    width: 85%;
    border: 1px solid rgb(214, 211, 211);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-items:center;
    align-content: center;
    padding-top: 10px;
    padding-bottom: 10px;

}

.containerExternoFormularios {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    margin-bottom: 10px;

}

.containerInternoFormularios {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;

}


.linkFiltroCategorias:link, .linkFiltroCategorias:visited, .linkFiltroCategorias:active {
    color: black;

}

